ion-label {
    font-size: 16px;
    font-weight: bold;
    color: black; /* Color del texto para mayor visibilidad */
    margin-bottom: 5px;
  }
  
  ion-input {
    --border-radius: 30px;
    color: black;
    padding: 10px;
    --padding-start: 10px; /* Padding para el texto dentro del input */
  --padding-end: 10px; 
  }
  
  ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Asegura que el contenido ocupe el 100% de la altura disponible */
    padding: 0; /* Asegura que el padding no afecte el tamaño del contenedor */
  }

  ion-item {
    --border-width: 0;
  }