<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="login-background">
    <div class="login-container">
      <ion-card>
        <div class="logo-container">
          <img src="assets/icon/gorila.svg" class="logo" alt="logo">
        </div>
        <ion-card-header>
          <ion-card-title>Iniciar Sesión</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item class="custom-input">
            <ion-label position="stacked" class="mail-label">Correo Electrónico</ion-label>
            <ion-input type="email" name="email" [(ngModel)]="email" ngDefaultControl required placeholder="Ingrese Email..."></ion-input>
          </ion-item>
          <ion-item class="custom-input">
            <ion-label position="stacked" class="password-label">Contraseña</ion-label>
            <ion-input [(ngModel)]="password" name="password" type="password" ngDefaultControl required placeholder="Ingrese Contraseña..."></ion-input>
          </ion-item>
          <div class="button-group">
            <ion-button color="warning" expand="block" (click)="login()">Ingresar</ion-button>
            <ion-button color="warning" expand="block" fill="outline" (click)="goToRegister()">Registrarte</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>